*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
}

/* common class */


/* nav section */
.navbar{
  margin: 70px 100px;

  display: flex;
  justify-content: space-between;

}

.logo {
  color: #3A3A3A;
}

.menu ul{
  display: flex;
  list-style: none;
  gap:34px ;
}

.menu {
  display: flex;
  margin-left: 30px;
  color: #3A3A3A;
}

.search-icon {
  margin-left: 40px;
}

.addto-card {
  margin-left: 40px;
}

/* hero-section  */
.hero-container{
  margin:50px 120px ;
  display: flex;
  align-items: center;
  gap:100px ;
  width: 100%;
}

.hero-content * {
  margin-bottom: 16px;
  
}

.hero-content h1 {
  color:#3A3A3A;
  font-size: 52px;
  font-weight: bold;
}

.btn {
  height: 44px;
  width: 196px;
  border-radius: 41px;
  background-color:#E02C6D ;
  border: none;
  color: white;
  /* align-items: center; */
  padding-top: 12px;
  font-size: 16px;
}

.hero-container .hero-img {
  position: relative;
  width: 475px;
  height: 475px;
}

.overlay-image {
  position: absolute;
  top: 0;
  
  width: 100%;
  height: 100%;
}

.top-img{
  width: 100%;
  height: 90%;
}

.bottom-img{
  width: 100%;
  height: 100%;
}

/* company section */
.company-section {
  margin: 150px 165px;
  width: 1110px;
  height: 110px;
  padding: 35px 60px;
  box-shadow: ;
}

.cp-card {
  /* gap:51px ; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
  padding:22px;
  text-wrap:none;
  /* text-align: inline; */
}

.collection-container {
  /* margin-top: 100px ; */
  margin: 100px 190px;
  /* margin: 0 auto; */
}

.collection-container h2{
  text-align: center;
  color:#3A3A3A;
  font-size: 28px;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top:30px;
}

.box {
  /* color: #ffffff; */
  /* box-shadow: 0 4px 4px #00000025; */
  box-shadow: 0 0 3px -1.5px #000000;
  /* border: none; */
  width: 330px;
  height: 470px;
  padding:15px 17px ;
  border-radius: 5px;
  /* line-height:30px ; */
  color: #3A3A3A;
  align-items: center;

}

.box-container h4 {
  font-size: 25px;
  font-weight: medium;
  margin-top: 16px;
}

.box-container span {
  font-weight:500 ;
  margin-bottom: 90px;
  font-size: 22px;
}

.box-container p {
  font-size:14px ;
  font-family: "Inter", sans-serif;
}

.feature-container {
  display: flex;
  flex-direction: row;
  margin: 100px 190px;
  gap: 96px;
  justify-content: center;
  align-items: center;
}

.feature-content * {
  margin-bottom: 16px;
  color: #3A3A3A;
}
.btn-2 {
  height: 44px;
  width: 196px;
  /* border-radius: 41px; */
  background-color:#E02C6D ;
  border: none;
  color: white;
  /* align-items: center; */
  padding-top: 12px;
  font-size: 16px;
}

#footer {

  height: 250px;
  width: 100%;

  color: white;
  background-color: rgb(1, 1, 52);
  /* align-items: center; */
  padding-top: 60px;
  text-align: center;
  margin-top: 20px;
}

.social img {
  width:32px ;
  height:32px ;
}

.footer-container * {
  margin-top: 10px;
}

.footer-container p {
  font-size:14px ;
  color: #D9DBE1;
}