*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
}

/* common class */


/* nav section */
.navbar{
  margin: 70px 100px;

  display: flex;
  justify-content: space-between;

}

.logo {
  color: #3A3A3A;
}

.menu ul{
  display: flex;
  list-style: none;
  gap:34px ;
}

.menu {
  display: flex;
  margin-left: 30px;
  color: #3A3A3A;
}

.search-icon {
  margin-left: 40px;
}

.addto-card {
  margin-left: 40px;
}

/* hero-section  */
.hero-container{
  margin:50px 120px ;
  display: flex;
  align-items: center;
  gap:100px ;
}

.hero-content * {
  margin-bottom: 16px;
  
}

.hero-content h1 {
  color:#3A3A3A;
  font-size: 52px;
  font-weight: bold;
}

.btn {
  height: 44px;
  width: 196px;
  border-radius: 41px;
  background-color:#E02C6D ;
  border: none;
  color: white;
  /* align-items: center; */
  padding-top: 12px;
  font-size: 16px;
}

.hero-container .hero-img {
  position: relative;
  width: 475px;
  height: 475px;
}

.overlay-image {
  position: absolute;
  top: 0;
  
  width: 100%;
  height: 100%;
}

.top-img{
  width: 100%;
  height: 90%;
}

.bottom-img{
  width: 100%;
  height: 100%;
}